@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&family=Open+Sans:wght@300;400;500;600;700&family=Lato:wght@300;600&display=swap");
@import "tailwindcss";

:root {
  font-family: "Open Sans", Arial;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  background-color: #fff;
  color: #333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
}

header {
  background-image: url("./assets/images/header.png");
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-position: center;
}

h1 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #3f6344;
  margin-top: 30px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

#banner-header {
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: 3px 3px 5px #000;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 1;
  line-height: 60px;
  color: #fff;
}

#banner-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#mobile-menu,
#mobile-menu a#mobile-membership-link {
  color: rgb(51, 51, 51);
}

#mobile-menu button {
  background-color: transparent;
  color: rgb(51, 51, 51);
}

.mobile-dropdown a {
  color: #3f6344;
}

#mobile-menu {
  background: linear-gradient(
    0deg,
    rgba(39, 43, 34, 1) 0%,
    rgba(43, 48, 38, 1) 100%
  );
}

.hamburger-menu {
  background-color: transparent;
  color: #fff !important;
  float: right;
}

.hamburger-menu:hover {
  border: none;
}

form input {
  border: 1px solid #ddd;
  transition: 0.1s;
}

form input:focus {
  outline: none;
  border: 1px solid #9cb696;
}

.nav-parent {
  color: #fff;
  transition: 0.2s;
  text-transform: uppercase;
  padding: 25px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -1px;
}

footer {
  position: sticky;
  bottom: 0;
  top: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.dropdown:hover .nav-parent,
.nav-parent:hover {
  color: #9cb696;
}

.dropdown-menu {
  position: absolute;
  text-align: left;
  display: grid;
  z-index: 9999;
  min-width: 3em;
  background-color: #f1f1f1;
  padding-left: 20px;
  padding-right: 60px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-left: 25px;
  margin-top: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-menu a {
  margin-bottom: 10px;
  color: #121212;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.03em;
  transition: 0.2s;
  text-transform: uppercase;
}

.dropdown-menu a:hover {
  color: #398738;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
nav {
  background-color: rgb(43, 48, 37);
  padding-top: 5px;
  padding-bottom: 5px;
}
nav div {
  display: inline-block;
}

main {
  place-items: center;
  min-width: 320px;
  margin: 8px;
  min-height: 100vh;
}

footer {
  background-color: #212121;
  color: #fff;
}

footer img:hover {
  -webkit-filter: drop-shadow(0 0 1px white);
  transition: 0.2s;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #9cb696;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #212121;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #3f6344;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.green-btn {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  background: linear-gradient(
    0deg,
    rgba(63, 99, 68, 1) 0%,
    rgba(66, 126, 74, 1) 100%
  );
  transition: 0.3s;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px #aaa solid;
  border-radius: 5px;
}

h2 {
  font-weight: 600;
  color: #3f6344;
  font-size: 26px;
}

table tr:nth-child(odd) {
  background-color: #ffffff;
}

table tr:nth-child(even) {
  background-color: #f6f6f6;
}

.green-btn:hover {
  color: #fff;
  background: linear-gradient(0deg, rgb(77, 121, 83) 0%, rgb(77, 146, 86) 100%);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3em;
}

.logo {
  height: auto;
  max-height: 8em;
  width: auto;
  max-width: 100%;
  will-change: filter;
  transition: filter 300ms;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}

.logo:hover {
  filter: drop-shadow(grey 0px 0px 0.3rem);
  transition: 0.3s;
}

hr {
  height: auto;
  border-top: 1px;
  border-bottom-width: 1px;
  width: 100%;
  border-color: var(--color-gray-300);
  margin-bottom: 40px;
  margin-top: 40px;
}

footer hr {
  height: auto;
  border-color: #303030;
  margin-top: 20px;
  margin-bottom: 20px;
}

#home-banner {
  background-img: url("");
}

#page-content {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  box-sizing: border-box;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 7em;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.img-border {
  border: 3px solid #ddd;
}

@media (max-width: 767px) {
  #footer-name-section {
    flex-direction: row;
    margin-top: 20px;
  }
}

.content-link {
  color: #427e4a;
  font-weight: 600;
  text-decoration: underline;
  transition: 0.3s;
}

.content-link:hover {
  color: #4fba5d;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.5;
}
