@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&family=Open+Sans:wght@300;600&family=Lato:wght@300;600&display=swap");
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
  /* display: flex;
  min-height: 100vh;
  flex-direction: column; */
}

header {
  background-image: url("./assets/images/header.png");
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-position: center;
}

.nav-parent {
  color: #fff;
  transition: 0.2s;
  text-transform: uppercase;
  padding: 25px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.dropdown:hover .nav-parent,
.nav-parent:hover {
  color: #9cb696;
}

.dropdown-menu {
  position: absolute;
  text-align: left;
  display: grid;
  z-index: 9999;
  min-width: 3em;
  background-color: #f1f1f1;
  padding-left: 20px;
  padding-right: 60px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-left: 25px;
  margin-top: 5px;
}

.dropdown-menu a {
  margin-bottom: 10px;
  color: #121212;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.03em;
  transition: 0.2s;
  text-transform: uppercase;
}

.dropdown-menu a:hover {
  color: #398738;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
nav {
  background-color: rgb(43, 48, 37);
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
}
nav div {
  display: inline-block;
}

main {
  place-items: center;
  min-width: 320px;
  margin: 8px;
  min-height: 100vh;
}

footer {
  background-color: #212121;
}

footer img:hover {
  -webkit-filter: drop-shadow(0 0 1px white);
  transition: 0.2s;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #9cb696;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 8em;
  will-change: filter;
  transition: filter 300ms;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo:hover {
  filter: drop-shadow(grey 0px 0px 0.3rem);
  transition: 0.3s;
}

hr {
  height: auto;
  border-top: 1px;
  border-bottom-width: 1px;
  width: 100%;
}

footer hr {
  height: auto;
  border-color: #303030;
}

#home-banner {
  background-img: url("");
}
